
            h1{
                color:#c12626;
         
            }
           h2
            {
                color:red;
            }
            p
            {
                color:mediumvioletred;
            }
            body
            {
                background:lightblue;
            }
        .box
{background:#ffeaa7;
    margin:50px 200px;
    padding:100px 100px;
}
#image
{width:200px;
    height:200px;
    border:10px solid red;
    border-radius: 80px;
}
        
        
        
       